services:
  redis:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6380:6379"
    command: redis-server --loglevel warning

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redis_insight
    ports:
      - "5541:5540"
    depends_on:
      - redis
